[submodule "WhoCame-backend"]
	path = backend
	url = git@github.com:code-418-dpr/WhoCame-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:code-418-dpr/WhoCame-frontend.git
[submodule "cv"]
	path = cv
	url = git@github.com:code-418-dpr/WhoCame-cv.git
